<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body>
   <main>
    <header style="background-color: lightslategray; margin: auto; padding: 30px;font-weight: bold; color: white; font-size: 50px ; text-align: center;  ">Cities</header>
    <div style="display: flex;">
        <nav style="background-color: lightcyan; text-align: left; padding: 50px;">
            <ul type="none" >
                <li><a href="">Kabul</a></li>
                <li><a href="">Herat</a></li>
                <li><a href="">Bamyan</a></li>
            </ul>
        </nav>
        <article style="background-color: lightblue; padding: 30px;">
            <h1>Kabul</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, voluptates. Corrupti laborum facere accusantium quisquam veritatis ducimus blanditiis, quod ea esse, ipsum vel nesciunt veniam sed alias quam sunt impedit?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae quibusdam harum porro iusto nemo aliquam culpa illo et facere unde soluta dolor natus quae architecto, pariatur impedit? Quam, animi adipisci.</p>
        </article>
        <article style="background-color: lightblue; padding: 30px;">
            <h1>Kabul</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, voluptates. Corrupti laborum facere accusantium quisquam veritatis ducimus blanditiis, quod ea esse, ipsum vel nesciunt veniam sed alias quam sunt impedit?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae quibusdam harum porro iusto nemo aliquam culpa illo et facere unde soluta dolor natus quae architecto, pariatur impedit? Quam, animi adipisci.</p>
        </article>
        <article style="background-color: lightblue; padding: 30px;">
            <h1>Kabul</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, voluptates. Corrupti laborum facere accusantium quisquam veritatis ducimus blanditiis, quod ea esse, ipsum vel nesciunt veniam sed alias quam sunt impedit?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae quibusdam harum porro iusto nemo aliquam culpa illo et facere unde soluta dolor natus quae architecto, pariatur impedit? Quam, animi adipisci.</p>
        </article>

    </div>
    <footer style="background-color: lightpink; margin: auto; padding: 10px;font-weight: bold; color: white; font-size: 30px ; text-align: center;">
        Footer
    </footer>
   </main>
</body>
</html>